<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заполните данные призывника</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function toggleMilitaryField() {
            var categoryHealth = document.getElementById("category_health").value;
            var militaryField = document.getElementById("military_field");
            var dateDepartureField = document.getElementById("date_departure_field");
            if (categoryHealth === "D" || categoryHealth === "E") {
                militaryField.style.display = "none";
                dateDepartureField.style.display = "none";
            } else {
                militaryField.style.display = "block";
                dateDepartureField.style.display = "block";
            }
        }

        function validateForm(event) {
            var dateOfBirth = new Date(document.getElementById("date_birthday").value);
            var today = new Date();
            var age = today.getFullYear() - dateOfBirth.getFullYear();
            var monthDifference = today.getMonth() - dateOfBirth.getMonth();
            if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < dateOfBirth.getDate())) {
                age--;
            }
            if (age < 18) {
                alert("Возраст должен быть не менее 18 лет.");
                event.preventDefault();
                return false;
            }
            return true;
        }

        function showAddUnitFields() {
            var addUnitFields = document.getElementById("add_unit_fields");
            addUnitFields.style.display = "block";
        }
    </script>
</head>
<body>
    <form action="{{ url_for('check_officer') }}" method="post" onsubmit="return validateForm(event)">
        <h1>Заполните данные призывника</h1>
        <label for="personal_number">Личный жетон:</label>
        <input type="text" id="personal_number" name="personal_number" required>

        <label for="first_name">Имя:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="last_name">Фамилия:</label>
        <input type="text" id="last_name" name="last_name" required>

        <label for="midle_name">Отчество:</label>
        <input type="text" id="midle_name" name="midle_name" required>

        <label for="date_birthday">Дата рождения:</label>
        <input type="date" id="date_birthday" name="date_birthday" required>

        <label for="adress_registration">Адрес регистрации:</label>
        <input type="text" id="adress_registration" name="adress_registration" required>

        <label for="education">Образование:</label>
        <select id="education" name="education" required>
            <option value="">--Выбор уровня образования--</option>
            <option value="Бакалавриат">Бакалавриат</option>
            <option value="Магистратура">Магистратура</option>
            <option value="Среднее общее">Среднее общее</option>
            <option value="Среднее профессиональное">Среднее профессиональное</option>
            <option value="Аспирантура">Аспирантура</option>
            <option value="Специалитет">Специалитет</option>
        </select>

        <label for="contact_number">Телефон:</label>
        <input type="text" id="contact_number" name="contact_number" required>

        <label for="category_health">Категория здоровья:</label>
        <select id="category_health" name="category_health" required onchange="toggleMilitaryField()">
            <option value="">--Категория годности--</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
        </select>

        <div id="military_field">
            <label for="military_destination">В/Ч отправления:</label>
            <select id="military_destination" name="military_destination">
                <option value="">--Выбор В/Ч отправления--</option>
                {% for unit in military_units %}
                <option value="{{ unit[0] }}">{{ unit[0] }} - {{ unit[1] }}</option>
                {% endfor %}
            </select>
            <button type="button" id="add_unit_button" class="add-unit-button" onclick="showAddUnitFields()">Добавить В/Ч</button>
        </div>

        <div id="add_unit_fields" style="display: none;">
            <h2>Добавить воинскую часть</h2>
            <label for="new_military_destination">Обозначение воинской части:</label>
            <input type="text" id="new_military_destination" name="new_military_destination">

            <label for="new_military_name">Название воинской части:</label>
            <input type="text" id="new_military_name" name="new_military_name">

            <label for="new_military_location">Местоположение воинской части:</label>
            <input type="text" id="new_military_location" name="new_military_location">

            <label for="new_mail_index">Почтовый индекс:</label>
            <input type="text" id="new_mail_index" name="new_mail_index">
        </div>
        
        <div id="date_departure_field">
            <label for="date_departure">Дата отправки:</label>
            <input type="date" id="date_departure" name="date_departure" required>
        </div>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
